<TestConfiguration>

  <Parameters
    base_period="100000"
	  
    reduction_core_count="1"
	  time_core_count="1"
  	
    notification_resilience="1000"
    prediction_resilience="1000"
    goal_resilience="1000"
    assumption_resilience="1000"
    simulation_resilience="1000"
    
	  run_time="1000"
    
    decompile_timestamps="relative"
    
    usr_operator_path="./usr_operators.dll"
    usr_class_path="../Test/rgrp.user.classes.replicode"
    source_file_name="../Test/test.rgrp.1.replicode"

    decompile_image="yes"
    write_image="no"
    image_path="../Test/Correlator.Data.Generation/motor.babbling.episodes.replicode.image"
    test_image="no"
    />

  </TestConfiguration>

<!--Usage

base_period: in us.

reduction_core_count: number of threads processing reduction jobs.

time_core_count: number of thread processing update jobs.

notification_resilience: in upr (i.e. relative to the ntf group). For debugging only - otherwise shall be 1.

run_time: in ms.

decompile_timestamps: either "relative" or "absolute". When "relative", timestamps are displayed as offsets from mem->start().

decompile_image: yes or no.

write_image: yes or no.

test_image: yes or no (yes: reads back and decompiles).

-->
