<TestConfiguration>

  <Parameters
    decompile_timestamps="relative"
    
    usr_operator_path="./usr_operators.dll"
    usr_class_path="../Test/Correlator.Data.Generation/user.classes.replicode"
    
    use_case_path="../Test/Correlator.Data.Generation"
    image_name="motor.babbling.episodes.replicode.image"
  />

</TestConfiguration>

<!--Usage

-->
