<TestConfiguration>

  <Parameters
    decompile_timestamps="relative"
    
    usr_operator_path="C:/Work/Replicode/Debug/usr_operators.dll"
    usr_class_path="C:/Work/Replicode/Test/Correlator.Data.Generation/user.classes.replicode"
    
    use_case_path="C:/Work/Replicode/Test/Correlator.Data.Generation"
    use_case_name="motor.babbling"
    episode_count="8"
  />

</TestConfiguration>

<!--Usage

-->
